doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    link(href='https://fonts.googleapis.com/css?family=Roboto:100', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
      
  body
    h1= htmlWebpackPlugin.options.title
    #root
    
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
